<!-- 
  
  Bowen Dai 300775723
  
  About Me page
-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  
  <!-- About Me Content -->
  <main id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About Me</h2>
      <p>Hello folks, this is Bowen. I am currently taking Software Engineering Tech program in Centennial College, I have done 2 coop terms,My first position is UX designer,
        which I really enjoy it. Second one is a help desk position at Dapasoft Inc, alrought it is not related to my program, it is fine to gain experience in a system Admin field as long as 
        under the IT Field.

      </p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img src="/Assets/images/personal_photo.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>Software developer</h3>
        <p>
          Multi-faceted Software Developer knowledgeable in HTML, JavaScript, Java, C#. 
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="fas fa-caret-right"></i> <strong>Birthday:</strong> 11 June 1994</li>
              <li><i class="fas fa-caret-right"></i> <strong>Phone:</strong> (+1) 437 345 5689</li>
              <li><i class="fas fa-caret-right"></i> <strong>City:</strong> Scarborough, Canada</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="fas fa-caret-right"></i> <strong>Age:</strong> 29</li>
              <li><i class="fas fa-caret-right"></i> <strong>Email:</strong> bdai@my.centennialcollege.ca</li>
              <li><i class="fas fa-caret-right"></i> <strong>Resume:</strong> <a href="/Assets/files/Bowen's Resume.pdf">PDF Version</a></li>
            </ul>
          </div>
        </div>
        <p>
          I am passionate about IT industry since I believe IT systems bring convenience to people, and that is one of the main reason I choose Software Engineering in college.  
 
          Over the year, I have developed the knowledge and skills to work in the IT industry, mainly on the software development areas, such as documenting the user requirements, writing programs using program lanaguage like Java and C#, developing test cases to test the programs.  

          </non-technical>
        </p>
      </div>
    </div>
  </div>
  </main>
  <!-- End About Me Content -->
  
<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>