<!-- 
  projects.ejs
  Marco Mejia 301082190
  02 Feb 2021

  Projects page
-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  
  <!-- Projects Content -->
  <main class="projects">
    <div class="container">
      <div class="section-title">
        <h2>Projects</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="/Assets/images/Project1.jpg">
              <div class="work-img">
                <img src="/Assets/images/Project1.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">Fitness Mobile Application </h2>
                  <div class="w-more">
                    <span class="w-ctegory">Mobile Application Development</span> 
                    <p class="w-description">•	  Analyzed business requirement and use cases
                    </p>
                    <p class="w-description">
                      •	  Created System Design Document using UML class diagram
                    </p>
                    <p class="w-description">
                      •	  Implemented User Management System using JavaScript and MongoDB
                    </p>
                    <p class="w-description">
                      •	  Created test plans, test cases and test scripts for front-end and back-end testing
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/Assets/images/Project3.jpg">
              <div class="work-img">
                <img src="/Assets/images/Project3.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">Online Course Registration Application</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Application Development</span> 
                    <p class="w-description">•	  Developed an Online Course Registration Application using HTML
                    </p>
                    <p class="w-description">
                      •	  Designed and implemented backend database using Oracle Database
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/Assets/images/Project2.jpg">
              <div class="work-img">
                <img src="/Assets/images/Project2.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">Air Tickets Booking System</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Java Programming</span> 
                    <p class="w-description">•	  •	Developed online system for air tickets booking and tracking using Java
                    </p>
                    <p class="w-description">
                      •	  •	Created test requirements, test plan, test cases through the entire testing life cycle
                    </p>
                    <p class="w-description">
                      •	  •	Used Jira for requirements/backlog and defects tracking
                    </p>
                    <p class="w-description">
                      •	  •	Created defect analysis reports during testing execution, and summary report when testing completed
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- End Projects Content -->

<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>